/* -------------------------------------------------------------------------- *
 * Theme
 * -------------------------------------------------------------------------- */

/* --- General -------------------------------------------------------------- */

body {
  background-color: #e4e7ea;
}
a {
  color: #ffb300;
}
a:hover {
  color: #00897b;
}
.bg-image.no-image {
  background-color: #26a69a;
}

/* --- Navbar --------------------------------------------------------------- */

.navbar {
  background-color: #26a69a;
  color: white;
}
.navbar a {
  color: white;
}
.navbar--nav-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid white;
}

/* --- Header --------------------------------------------------------------- */

.header {
  background-color: #333;
  color: white;
}
.header .navbar.fixed.autohide.show {
  background-color: #26a69a;
}
.header--subtitle {
  color: #ddd;
}

/* --- Content -------------------------------------------------------------- */

.post--content > h1,
.post--content > h2,
.post--content > h3,
.post--content > h4,
.post--content > h5,
.post--content > h6 {
  border-color: teal;
}
.post--content p > code {
  background-color: #e0f2f1;
  color: teal;
}
.post--content blockquote {
  background-color: #e0f2f1;
  border-color: teal;
}
.post--tags a {
  color: #888;
  background-color: rgba(127, 127, 127, 0.15);
}
.post--tags a:hover {
  background-color: rgba(127, 127, 127, 0.3);
}

.kg-gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
}

.kg-gallery-row {
  display: flex;
  max-width: 100%;
  padding: 1px 0;
}

.kg-gallery-image {
  padding: 0 4px;
}

.kg-gallery-row img {
  flex: 0.7925407925407926 1 0%;
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .kg-gallery-row {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .kg-gallery-row {
    flex: 100%;
    max-width: 100%;
  }
}

/* --- Cards ---------------------------------------------------------------- */

.card {
  background-color: white;
}
.card.image .bg-darken {
  color: white;
}
.card-image .bg-lighten {
  color: black;
}
.card--back {
  background-color: #333;
  color: white;
}

/* --- Author --------------------------------------------------------------- */

.author {
  background-color: rgba(0, 0, 0, 0.05);
}
.author--media {
  background-color: #26a69a;
}

/* --- FABs ----------------------------------------------------------------- */

.fab {
  color: white;
  background-color: #ffb300;
}
.fab:hover {
  color: white;
}

/* --- Buttons -------------------------------------------------------------- */

.button.solid {
  color: white;
  background-color: #ffb300;
}

/* --- Waves ---------------------------------------------------------------- */

.wave {
  background-color: white;
}

/* --- Footer --------------------------------------------------------------- */

.footer {
  background-color: #00897b;
}
.footer a {
  color: #b2dfdb;
}
.footer a:hover {
  color: #ffffff;
}
.footer--top {
  color: #80cbc4;
}
.footer--bottom a {
  color: #004d40;
}
.footer--bottom a:hover {
  color: #80cbc4;
}
.footer--bottom {
  color: #004d40;
}
